@model IEnumerable<projectCrudwhiteoutEf.Models.Employees>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>

    <a onclick="Showpopup('@Url.Action("Create","Employee")','Employees')"
       class="btn btn-success text-white">Add</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new
           { id = item.EmployeeId })
                |
                <a onclick="Showpopup('@Url.Action("Edit","Employee", new
           { id = item.EmployeeId })','Employees')"
                   class="btn btn-success text-white">Edit</a>
                |

                @Html.ActionLink("Delete", "Delete", new
           {
               id = item.EmployeeId
           })
                |
            <a onclick="Showpopup('@Url.Action("Delete","Employee", new
           { id = item.EmployeeId })','Employees')"
               class="btn btn-success text-white">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts
{
    <script src="~/js/site.js" ></script>
}
